<aside class="column is-3 aside is-fullheight">
  <div class="main">
    <p class="menu-label has-text-black">
      Quản Lý Yêu Cầu
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to chart_path(status:0), class:"item" do %>
          <span class="name">
            Trang Chủ
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to manager_index_path(status:0), class:"item" do %>
          <span class="name">
            <% if Request.waiting.count > 0 %>
              <span class="has-text-danger">(<%= Request.waiting.count%>)</span>
            <% end %>
            Yêu Cầu Gửi Đến
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to manager_index_path(status:3), class:"item active" do %>
          <span class="name">
            <% if Request.checked.count > 0 %>
              <span class="has-text-danger">(<%= Request.checked.count%>)</span>
            <% end %>
            Kết Quả Trả Về
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to manager_index_path(status:4), class:"item" do %>
          <span class="name">
            Yêu Cầu Đã Xử Lý
          </span>
        <% end %>
      </li>
    </ul>
    <p class="menu-label has-text-black">
      Sinh Viên
    </p>
      <ul class="menu-list">
      <li>
        <%= link_to manager_index_path(status:0) do %>
          <span class="name">
            <% if Request.waiting.count > 0 %>
              <span class="has-text-danger">(<%= Request.waiting.count%>)</span>
            <% end %>
            Tất Cả Yêu Cầu Từ Sinh Viên
          </span>
        <% end %>
      </li>
      </ul>
      <ul class="menu-list">
        <li>
          <a class="has-text-grey">Tình Trạng Yêu Cầu</a>
            <ul>
              <li>
                <%= link_to manager_index_path(status:1), class:"item" do %>
                  <span class="name">
                    Yêu Cầu Đã Được Gửi Tới Các Phòng Ban Liên Quan
                  </span>
                <% end %>
              </li>
              <li>
              <li>
                <%= link_to manager_index_path(status:2), class:"item" do %>
                  <span class="name">
                    Yêu Cầu Không Được Duyệt
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to manager_index_path(status:5), class:"item" do %>
                  <span class="name">
                    <% if Request.outdate.count > 0 %>
                      <span class="has-text-danger">(<%= Request.outdate.count%>)</span>
                    <% end %>
                    Yêu Cầu Quá Hạn
                  </span>
                <% end %>
              </li>
            </ul>
        </li>
    </ul>
    <p class="menu-label has-text-black">
        Phòng Ban
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to manager_index_path(status:3), class:"item" do %>
          <span class="name">
            <% if Request.checked.count > 0 %>
              <span class="has-text-danger">(<%= Request.checked.count%>)</span>
            <% end %>
            Kết Quả Trả Về
          </span>
        <% end %>
      </li>
      <li>
          <a class= "has-text-grey">Kết Quả Từ Các Phòng Ban</a>
          <ul>
            <li>
              <%= link_to manager_index_path(department:1), class:"item" do %>
                <span class="name">
                  <% if Request.select_checked_request(1).count > 0 %>
                    <span class="has-text-danger">(<%= Request.select_checked_request(1).count %>)</span>
                  <% end %>
                  Công Tác Sinh Viên
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to manager_index_path(department:5), class:"item" do %>
                <span class="name">
                  <% if Request.select_checked_request(5).count > 0 %>
                    <span class="has-text-danger">(<%= Request.select_checked_request(5).count %>)</span>
                  <% end %>
                  Cơ Sở Vật Chất
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to manager_index_path(department:2), class:"item" do %>
                <span class="name">
                  <% if Request.select_checked_request(2).count > 0 %>
                    <span class="has-text-danger">(<%= Request.select_checked_request(2).count%>)</span>
                  <% end %>
                  Đào Tạo
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to manager_index_path(department:3), class:"item" do %>
                <span class="name">
                  <% if Request.select_checked_request(3).count > 0 %>
                    <span class="has-text-danger">(<%= Request.select_checked_request(3).count%>)</span>
                  <% end %>
                  Tài Chính Kế Toán
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to manager_index_path(department:4), class:"item" do %>
                <span class="name">
                  <% if Request.select_checked_request(4).count > 0 %>
                    <span class="has-text-danger">(<%= Request.select_checked_request(4).count%>)</span>
                  <% end %>
                  Y Tế
                </span>
              <% end %>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</aside>