<div class="columns" id="mail-app">
  <%= render "panel" %>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Xin Chào, <%= current_user.name %>
                            </h1>
                            <h2 class="subtitle">
                               Dưới đây là thống kê tình trạng yêu cầu biểu mẫu được gửi đến của tháng 6
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.count %> </p>
                                <p class="subtitle">Biểu Mẫu Được Gửi Tới</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.waiting.count %> </p>
                                <p class="subtitle">Biểu Mẫu Được Gửi Tới</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.outdate.count %></p>
                                <p class="subtitle">Biểu Mẫu Không Xử Lý Kịp Thời</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.pass.count %></p>
                                <p class="subtitle">Biểu Mẫu Đang Được Xử Lý</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.done.count %></p>
                                <p class="subtitle">Biểu Mẫu Đã Được Xử Lý Thành Công</p>
                            </article>
                        </div>
                    </div>
                </section>
                <br>
                  <%= bar_chart Request.group(:status).count %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>