    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label name">
                        Tình Trạng Yêu Cầu
                    </p>
                    <ul class="menu-list">
                        <li>
                          <%= link_to manager_index_path(status:0) do %>
                            <span class="name">
                              <% if Request.waiting.count > 0 %>
                                <span class="has-text-danger">(<%= Request.waiting.count%>)</span>
                              <% end %>
                              Tất Cả Yêu Cầu Và Kết quả
                            </span>
                          <% end %>
                        </li>
                        <li>
                        <li>
                          <%= link_to manager_index_path(status:0) do %>
                            <span class="name">
                              <% if Request.waiting.count > 0 %>
                                <span class="has-text-danger">(<%= Request.waiting.count%>)</span>
                              <% end %>
                              Yêu Cầu Của Sinh Viên
                            </span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to manager_index_path(status:3), class:"item" do %>
                            <span class="name">
                              <% if Request.checked.count > 0 %>
                                <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                              <% end %>
                              Kết Quả Của Phòng Ban
                            </span>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to manager_index_path(status:3), class:"item" do %>
                            <span class="name">
                              <% if Request.checked.count > 0 %>
                                <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                              <% end %>
                              Yêu Cầu Đã Được Xử Lý Thành Công
                            </span>
                          <% end %>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Sinh Viên
                    </p>
                    <ul class="menu-list">
                      <li>
                        <%= link_to manager_index_path(status:0), class:"item active" do %>
                          <span class="name">
                            <% if Request.waiting.count > 0 %>
                              <span class="has-text-danger">(<%= Request.waiting.count%>)</span>
                            <% end %>
                            Tất Cả Yêu Cầu Từ Sinh Viên
                          </span>
                        <% end %>
                      </li>
                    <ul class="menu-list">
                        <li>
                          <a>Tình Trạng Yêu Cầu</a>
                            <ul>
                              <li>
                                <%= link_to manager_index_path(status:3), class:"item" do %>
                                  <span class="name">
                                    <% if Request.checked.count > 0 %>
                                      <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                    <% end %>
                                    Yêu Cầu Đã Được Gửi Tới Các Phòng Ban Liên Quan
                                  </span>
                                <% end %>
                              </li>
                              <li>
                              <li>
                                <%= link_to manager_index_path(status:3), class:"item" do %>
                                  <span class="name">
                                    <% if Request.checked.count > 0 %>
                                      <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                    <% end %>
                                    Yêu Cầu Không Được Duyệt
                                  </span>
                                <% end %>
                              </li>
                              <li>
                                <%= link_to manager_index_path(status:3), class:"item" do %>
                                  <span class="name">
                                    <% if Request.checked.count > 0 %>
                                      <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                    <% end %>
                                    Yêu Cầu Quá Hạn
                                  </span>
                                <% end %>
                              </li>
                            </ul>
                        </li>
                        <li>
                          <%= link_to manager_index_path(status:3), class:"item" do %>
                            <span class="name">
                              <% if Request.checked.count > 0 %>
                                <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                              <% end %>
                              Kết Quả Phòng Ban
                            </span>
                          <% end %>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Liên Quan
                    </p>
                    <ul class="menu-list">
                      <li>
                        <%= link_to manager_index_path(status:3), class:"item" do %>
                          <span class="name">
                            <% if Request.checked.count > 0 %>
                              <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                            <% end %>
                            Kết Quả Từ Tất Cả Phòng Ban
                          </span>
                        <% end %>
                      </li>
                      <li>
                          <a>Các Phòng Ban Hiện Có</a>
                          <ul>
                            <li>
                              <%= link_to manager_index_path(status:3), class:"item" do %>
                                <span class="name">
                                  <% if Request.checked.count > 0 %>
                                    <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                  <% end %>
                                  Công Tác Sinh Viên
                                </span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to manager_index_path(status:3), class:"item" do %>
                                <span class="name">
                                  <% if Request.checked.count > 0 %>
                                    <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                  <% end %>
                                  Cơ Sở Vật Chất
                                </span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to manager_index_path(status:3), class:"item" do %>
                                <span class="name">
                                  <% if Request.checked.count > 0 %>
                                    <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                  <% end %>
                                  Đào Tạo
                                </span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to manager_index_path(status:3), class:"item" do %>
                                <span class="name">
                                  <% if Request.checked.count > 0 %>
                                    <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                  <% end %>
                                  Tài Chính Kế Toán
                                </span>
                              <% end %>
                            </li>
                            <li>
                              <%= link_to manager_index_path(status:3), class:"item" do %>
                                <span class="name">
                                  <% if Request.checked.count > 0 %>
                                    <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                                  <% end %>
                                  Y Tế
                                </span>
                              <% end %>
                            </li>
                          </ul>
                      </li>
                      <li>
                        <%= link_to manager_index_path(status:3), class:"item" do %>
                          <span class="name">
                            <% if Request.checked.count > 0 %>
                              <span class="has-text-danger">(<%= Request.checked.count%>)</span>
                            <% end %>
                            Kết Quả Từ Phòng Ban
                          </span>
                        <% end %>
                      </li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, Admin.
                            </h1>
                            <h2 class="subtitle">
                                I hope you are having a great day!
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.count %> </p>
                                <p class="subtitle">Biểu Mẫu Được Gửi Tới</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.outdate.count %></p>
                                <p class="subtitle">Biểu Mẫu Không Xử Lý Kịp Thời</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title"><%= Request.done.count %></p>
                                <p class="subtitle">Biểu Mẫu Được Xử Lý Thành Công</p>
                            </article>
                        </div>
                    </div>
                </section>
                <br>
<%= area_chart Request.group(:status).count %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>