    <div class="columns" id="mail-app">
        <aside class="column is-2 aside is-fullheight">
                <div class="main">
                    <a href="#" class="item active"><span class="name">Yêu Cầu Của Sinh Viên</span></a>
                    <a href="#" class="item"><span class="name">Kết Quả Phòng Ban</span></a>
                    <a href="#" class="item"><span class="name">Đã Xử Lý</span></a>
                </div>
        </aside>
        <div class="column is-4 messages has-background-light" id="message-feed">
            <div class="inbox-messages">
                <div class="has-background-light">
                    <% @requests.each do |request| %>
                      <div class="card-content has-background-white box">
                          <div class="msg-header">
                              <span class="msg-from"><small>From: <%= request.user_name %></small></span>
                              <span class="msg-timestamp"><%= request.id %></span>
                          </div>
                          <div class="msg-subject">
                              <span class="msg-subject"><strong id="fake-subject-1"><%= request.student_content %></strong></span>
                          </div>
                          <div class="msg-snippet">
                              <p id="fake-snippet-1"><%= link_to "Xem Chi Tiết",edit_user_request_path(request.user,request.id) %></p> 
                          </div>
                      </div>
                    <% end %>
                                                <div class="pagination">
                  <%= paginate @requests %>
                </div>
                </div>
            </div>
        </div>
        <div class="column is-7">
              <iframe src=<%= url_for(@requests.last.pdfs) %> width="700" height="939" style="border: none;"></iframe>     
        </div>
    </div>