    <div class="columns" id="mail-app">
      <%= render "panel"%>
      <div class="column is-4 messages has-background-light border-right" id="message-feed">
          <div class="inbox-messages">
              <div class="has-background-light">
                  <% @requests.each do |request| %>
                    <div class="card-content has-background-white box">
                      <div class="request" data-request="<%= request.id %>">
                        <div class="msg-header">
                            <span class="msg-from"><small>Yêu cầu từ: <%= request.user_name %></small></span>
                            <span class="msg-timestamp"><%= request.created_at.strftime("%H:%M %d/%m/%Y") %></span>
                            <span class="msg-timestamp"><%= days_till_expiration(request.created_at, request.document.time) %></span>
                        </div>
                        <div class="msg-subject">
                            <span class="msg-subject"><strong id="fake-subject-1"><%= simple_format(request.student_content) %></strong></span>
                        </div>
                        <div class="msg-snippet">
                            <p id="fake-snippet-1"><%= link_to "Xem Chi Tiết",edit_user_request_path(request.user,request.id) %></p> 
                        </div>
                    </div>
                  </div>
                  <% end %>
                  <div class="pagination">
                <%= paginate @requests %>
              </div>
              </div>
          </div>
      </div>
      <div class="column is-5 is-paddingless">
        <div id="demo"> 
        <p class="has-text-centered name is-size-4">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          Ấn Vào Một Yêu Cầu Bất Kỳ Để Xem Trước Biểu Mẫu</p>
        </div>
      </div>
    </div>