
  <ul class="pa0">
    <li>
      <p class="name has-text-centered">Lĩnh Vực</p>
    </li>
    <li class="pv1">
      <%= link_to "Tất Cả Lĩnh Vực", root_path, class: "button is-fullwidth is-black" %>
    </li>

    <li class="pv1">
      <%= link_to "Công Tác Sinh Viên", root_path(department:1), class: "button is-fullwidth is-success " %>
    </li>

    <li class="pv1">
      <%= link_to "Đào Tạo", root_path(department:2), class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to "Cơ Sở Vật Chất", root_path(department:5), class: "button is-fullwidth is-info" %>
    </li>
 
    <li class="pv1">
      <%= link_to "Tài Chính - Kế Toán", root_path(department:3), class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to "Y Tế", root_path(department:4), class: "button is-fullwidth has-text-danger" %>
    </li>
  </ul>