<div class="columns is-gapless is multiline">
  <div class="column border-bottom">
    <h3 class="title is-3 index-title">  &nbsp; Phòng <%= @department.name %></h3>
  </div>
</div>
  <table class="table is-hoverable is-fullwidth ">
    <thead>
      <tr>
        <th class="has-text-centered">Thời Hạn Của Yêu Cầu</th>
        <th class="has-text-centered">Nội Dung</th>
        <th class="has-text-centered">Người Gửi</th>
        <th class="has-text-centered">Nhận được vào lúc</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
          <tr>   
            <td class="has-text-centered"><%= request.status %></td>
            <td class="has-text-centered"><%= link_to simple_format(request.student_content),edit_user_request_path(request.user,request.id) %></td>
            <td class="has-text-centered"><%= request.user_name %></td>
            <td class="has-text-centered"><%= request.created_at.strftime "%H:%M %Y/%m/%d"%></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination">
    <%= paginate @requests %>
  </div>
