<div class="field">
  <label class="label">Ghi Chú(sinh viên):</label>
  <div class="control box">
    <p><%= simple_format(@request.student_content) %></p>
  </div>
</div>
<div class="">
  <div class="tabs">
    <ul>                               
        <li class="is-active" id = "pass">
          <%= link_to "Đạt Yêu Cầu","" %>
        </li id="b">                             
        <li  id = "fail">
          <%= link_to "Không Đạt Yêu Cầu","" %>
        </li>          
    </ul>
  </div>
  <div class="form">
      <div id="pass-form">
      <%= simple_form_for @request, url: user_request_path(@request.user,@request.id) do |f|%>
      <div class="field">
        <%= f.input :manager_content, label:"Ghi Chú Thêm:", input_html: { class: "textarea is-primary"}, wrapper: false, label_html: { class: "label" } %>
      </div>
      <div class="field">
        <%= f.hidden_field :status, value: Request.statuses["pass"] %>
      </div>
      <div class="field">
        <%= f.button :submit, 'Biểu Mẫu Đạt Yêu Cầu', class: "button is-success" %>
      </div>
      <% end %>
    </div>

  </div>
</div>