<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= image_tag 'logo.png',style: 'height:60px; width:70px;',class:"navbar-item" %>
    <%# <%= image_tag 'logo.png',style: 'height:60px; width:70px;',class:"navbar-item" %> 
    <div class="navbar-item is-paddingless">
        <% if user_signed_in? %>
          <% if current_user.student?%>
            <%= link_to root_path do %>
              <h1 class="title is-5 has-text-success">Hệ Thống Hỗ Trợ Quản Lý Cơ Chế Một Cửa</h1>
            <% end %>
          <% elsif current_user.manager? %>
            <%= link_to manager_index_path do %>
              <h1 class="title is-5 has-text-success">Hệ Thống Hỗ Trợ Quản Lý Cơ Chế Một Cửa</h1>
            <% end %>
          <% elsif current_user.staff? %>
            <%= link_to staff_index_path do %>
              <h1 class="title is-5 has-text-success">Hệ Thống Hỗ Trợ Quản Lý Cơ Chế Một Cửa</h1>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <h1 class="title is-5 has-text-success">Hệ Thống Hỗ Trợ Quản Lý Cơ Chế Một Cửa</h1>
          <% end %>
        <% end %>
      </div>
  </div>
  <div id="navbar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <%# <div class="modal ">
            <div class="modal-background" id="delete">
            </div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Gửi Biểu Mẫu</p>
                <button class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div class="field">
                  <div class="file is-centered is-boxed is-success has-name">
                    <label class="file-label">
                      <input class="file-input" type="file" id="file-upload" name="resume">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label" for="file-upload">
                          Tải Lên Biểu Mẫu
                        </span>
                      </span>
                      <span class="file-name">
                        <div id="file-upload-filename"></div>
                      </span>
                    </label>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button class="button">Cancel</button>
              </footer>
            </div>
          </div> %>
          <% unless current_user.manager? || current_user.staff? || current_page?(new_user_request_path(current_user))%>
            <p class="control">
              <%= link_to "Gửi Biểu Mẫu",new_user_request_path(current_user), class: "button navbar-item is-primary is-rounded modal-button", id: "showModal" %>
            </p>
          <% end %>
        <% end %>
        &nbsp;
        &nbsp;
        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
          <% if current_user.staff? %>
            <%= link_to "#{current_user.name} (#{role_name(current_user.role)} #{@department.name})","#", class: "navbar-link" %>
          <% else %>
            <%= link_to "#{current_user.name} (#{role_name(current_user.role)})","#", class: "navbar-link" %>
          <% end %>
            <div class="navbar-dropdown is-right">
              <p>
                <%= link_to "Thông Tin Người Dùng","#", class:"navbar-item is-fullwidth" %>
              </p>

              <% unless current_page?(edit_user_registration_path(current_user)) %>
                <p>
                  <%= link_to "Cập Nhật Tài Khoản",edit_user_registration_path(current_user), class:"navbar-item is-fullwidth" %>
                </p>
              <% end %>

              <hr class="navbar-divider">

              <p>
                <%= link_to "Đăng Xuất", destroy_user_session_path, method: :delete, class:"navbar-item is-fullwidth" %>
              </p>

            </div>
          </div>
        <% else %>
          <% unless current_page?(controller: 'devise/sessions', action: 'new') %>
            <p class="control ">
              <%= link_to "Đăng Nhập", new_user_session_path, class:"navbar-item button" %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
