<!DOCTYPE html>
<html>
  <head>
    <title>Hệ Thống Hỗ Trợ Quản Lý Cơ Chế Một Cửa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body> 
    <%= render "layouts/notification" %>

    <%= render "layouts/navbar" %>

    <div class= "has-background-light body">
        <%= yield %>
    </div>

    <br>
    <%= render "layouts/footer" %>
  </body>
</html>
